# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [65]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_df = pd.read_csv("Resources/schools_complete.csv")
student_data_df = pd.read_csv( "Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas Data Frames
#school_data = pd.read_csv(school_data)
#student_data = pd.read_csv(student_data)

# Combine the data into a single dataset
#school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [66]:
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [67]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [68]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [69]:
# Calculate the total number of schools
school_data_df["school_name"].count()

15

In [70]:
# Calculate the total number of students
school_data_complete["student_name"].count()

39170

In [71]:
# Calculate the total budget
school_data_df["budget"].sum()

24649428

In [72]:
# Calculate the average math score 
school_data_complete["math_score"].mean()

78.98537145774827

In [73]:
# Calculate the average reading score
school_data_complete["reading_score"].mean()

81.87784018381414

In [74]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
avg_reading_score = school_data_complete["reading_score"].mean()
avg_math_score = school_data_complete["math_score"].mean()
(avg_reading_score + avg_math_score)/2

80.43160582078121

In [75]:
# Calculate the percentage of students with a passing math score (70 or greater)
#calculations for number and % passing reading
passing_math = student_data_df.loc[student_data_df["math_score"] >= 70]["math_score"].count()
per_pass_math = passing_math/39170*100
print(per_pass_math)

74.9808526933878

In [76]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = student_data_df.loc[student_data_df["reading_score"] >= 70]["reading_score"].count()
per_pass_reading = passing_reading/39170*100
print(per_pass_reading)

85.80546336482001

In [125]:
# Create a dataframe to hold the above results
district_summary = {
    'Total Schools': ["15"], 
    'Total Students': ["39170"], 
    'Total Budget': ["24649428"], 
    'Average Math Score': ["78.98537145774827"],
    'Average Reading Score': ["81.87784018381414"],
    '% Passing Math': ["74.9808526933878"],
    '% Passing Reading': ["85.80546336482001"],
    '% Overal Passing Rate': ["80.43160582078121"]}
df = pd.DataFrame(district_summary)
df
#format cells
#district_summary.style.format({"Total Budget": "${:,.2f}", 
                       #"Average Math Score": "{:.1f}", 
                       #"Average Reading Score": "{:.1f}", 
                       #"% Passing Math": "{:.1%}", 
                       #"% Passing Reading": "{:.1%}", 
                       #"% Overal Passing Rate": "{:.1%}"})

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overal Passing Rate
0,15,39170,24649428,78.98537145774827,81.87784018381414,74.9808526933878,85.80546336482001,80.43160582078121

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [78]:
# groupby to get School Name and School Type
grouped_school_sum = school_data_complete.set_index("school_name").groupby(["school_name"])
grouped_school_sum.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
Figueroa High School,2917,Amy Jacobs,F,10th,85,87,1,District,2949,1884411
Figueroa High School,2918,Nathan Campbell,M,12th,97,84,1,District,2949,1884411
Figueroa High School,2919,Randall Stewart,M,12th,67,77,1,District,2949,1884411
Figueroa High School,2920,Jennifer Brown,F,9th,97,64,1,District,2949,1884411
Figueroa High School,2921,Denise Lopez,F,10th,79,64,1,District,2949,1884411
Shelton High School,5866,Jamie Montgomery,F,12th,70,91,2,Charter,1761,1056600
Shelton High School,5867,Shannon Phillips,F,10th,84,71,2,Charter,1761,1056600
Shelton High School,5868,Todd Barber,M,11th,95,99,2,Charter,1761,1056600
Shelton High School,5869,Desiree King,F,12th,76,95,2,Charter,1761,1056600
Shelton High School,5870,Melissa Roberts,F,10th,71,82,2,Charter,1761,1056600
Hernandez High School,7627,Russell Davis,M,10th,70,88,3,District,4635,3022020
Hernandez High School,7628,Timothy Walker,M,12th,97,93,3,District,4635,3022020
Hernandez High School,7629,Katie Johnston,F,12th,83,81,3,District,4635,3022020
Hernandez High School,7630,Joann Oconnell,F,12th,77,91,3,District,4635,3022020
Hernandez High School,7631,Sarah Alexander,F,10th,84,93,3,District,4635,3022020
Griffin High School,12262,Heather Wright,F,11th,79,68,4,Charter,1468,917500
Griffin High School,12263,Elizabeth Goodwin,F,10th,91,81,4,Charter,1468,917500
Griffin High School,12264,Michelle Wong,F,9th,78,89,4,Charter,1468,917500
Griffin High School,12265,Scott Roth MD,M,11th,91,85,4,Charter,1468,917500
Griffin High School,12266,Billy Wilson,M,12th,76,83,4,Charter,1468,917500
Wilson High School,13730,Kelli Anderson,F,10th,84,71,5,Charter,2283,1319574
Wilson High School,13731,Russell Ramirez,M,10th,72,87,5,Charter,2283,1319574
Wilson High School,13732,Eric Butler,M,10th,97,82,5,Charter,2283,1319574
Wilson High School,13733,Warren Kerr,M,11th,93,68,5,Charter,2283,1319574
Wilson High School,13734,Gail Hall,F,9th,79,72,5,Charter,2283,1319574
...,...,...,...,...,...,...,...,...,...,...
Pena High School,23274,Alec Davis,M,9th,91,75,9,Charter,962,585858
Pena High School,23275,Michael Meyer,M,10th,94,76,9,Charter,962,585858
Pena High School,23276,Donald Gutierrez,M,11th,98,91,9,Charter,962,585858
Pena High School,23277,Travis Chavez,M,11th,78,71,9,Charter,962,585858
Pena High School,23278,Sheena Ball,F,12th,87,92,9,Charter,962,585858
Wright High School,24236,Aaron Johnson,M,10th,89,72,10,Charter,1800,1049400
Wright High School,24237,Kimberly Hamilton,F,10th,84,93,10,Charter,1800,1049400
Wright High School,24238,Ashley Johns,F,10th,88,88,10,Charter,1800,1049400
Wright High School,24239,Stephanie Donovan,F,10th,75,84,10,Charter,1800,1049400
Wright High School,24240,Cynthia Guzman,F,11th,93,82,10,Charter,1800,1049400
Rodriguez High School,26036,Sherry Jenkins,F,11th,74,81,11,District,3999,2547363
Rodriguez High School,26037,Kimberly Calderon,F,10th,80,86,11,District,3999,2547363
Rodriguez High School,26038,William Brady,M,11th,97,62,11,District,3999,2547363
Rodriguez High School,26039,Jacob Padilla,M,11th,79,73,11,District,3999,2547363
Rodriguez High School,26040,Paula Maldonado,F,10th,96,92,11,District,3999,2547363
Johnson High School,30035,Lisa Casey,F,12th,87,87,12,District,4761,3094650
Johnson High School,30036,Jessica Lopez,F,9th,98,62,12,District,4761,3094650
Johnson High School,30037,Anna Wilkins,F,11th,89,77,12,District,4761,3094650
Johnson High School,30038,Andrew Smith,M,9th,66,85,12,District,4761,3094650
Johnson High School,30039,Robert Allison,M,11th,63,85,12,District,4761,3094650
Ford High School,34796,Michael Mercado,M,9th,66,94,13,District,2739,1763916
Ford High School,34797,Stephen Wolf,M,11th,68,63,13,District,2739,1763916
Ford High School,34798,Bonnie Hughes,F,12th,73,59,13,District,2739,1763916
Ford High School,34799,Melissa Smith,F,11th,88,58,13,District,2739,1763916
Ford High School,34800,Brian Mitchell,M,10th,96,55,13,District,2739,1763916
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [89]:
school_type = grouped_school_sum['type'].first()
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [80]:
#average reading score and math score
average_reading_score = grouped_school_sum['reading_score'].mean()
print(average_reading_score)
average_math_score = grouped_school_sum['math_score'].mean()
print(average_math_score)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64
school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [81]:
#Total Students
total_students = grouped_school_sum['Student ID'].count()
print(total_students)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [82]:
# total school budget

total_school_budget = grouped_school_sum["budget"].sum()
print(total_school_budget)

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [83]:
# Per Student Budget
per_student_budget = school_data_df.set_index("school_name")["budget"]/school_data_df.set_index("school_name")["size"]
print(per_student_budget)

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [107]:
# % Passing Math
pass_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()/total_students 
print(pass_math)

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
Name: Student ID, dtype: float64

In [106]:
pass_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/total_students 
print(pass_reading)

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: Student ID, dtype: float64

In [119]:
# Overall Passing Rate (Average of the above two)
overall = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby("school_name")["Student ID"].count()/total_students
print(overall)

school_name
Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
Name: Student ID, dtype: float64

In [120]:
# Create a dataframe to hold the above results

school_summary = pd.DataFrame({
    'School Type': school_type,
    'Total Student': total_students, 
    'Total School Budget': total_school_budget,
    'Per Student Budget': per_student_budget,
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_reading,
    '% Overall Passing Rate': overall
})
#formatting
school_summary.style.format({ 
                          'Total Student': '{:,}', 
                          'Total School Budget': "${:.0f}",
                          'Per Student Budget': "${:.0f}", 
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          '% Passing Math': "{:.1%}", 
                          '% Passing Reading': "{:.1%}", 
                          'Overall Passing Rate': "{:.1%}"})

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [118]:
bottom_performing_schools = school_summary.sort_values("% Overall Passing Rate", ascending = True)
bottom_performing_schools

,School Type,Total Student,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,10186904637,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,5557128039,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,5573322295,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,14007062700,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,14733628650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Ford High School,District,2739,4831365924,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Bailey High School,District,4976,15549641728,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Holden High School,Charter,427,105933149,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Shelton High School,Charter,1761,1860672600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Wright High School,Charter,1800,1888920000,583.0,83.682222,83.955000,0.933333,0.966111,0.903333
Pena High School,Charter,962,563595396,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Wilson High School,Charter,2283,3012587442,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Griffin High School,Charter,1468,1346890000,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Thomas High School,Charter,1635,1705517550,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Cabrera High School,Charter,1858,2009159448,582.0,83.061895,83.975780,0.941335,0.970398,0.913348

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [210]:
ninth_math = student_data_df.loc[student_data_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data_df.loc[student_data_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data_df.loc[student_data_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data_df.loc[student_data_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "school_name"

math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [211]:
ninth_reading = student_data_df.loc[student_data_df['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data_df.loc[student_data_df['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data_df.loc[student_data_df['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data_df.loc[student_data_df['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#merges the reading score averages by school and grade together
reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "school_name"

#format
reading_scores.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [98]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<60", "70-80", "81-90", "91-100"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [101]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.